body {
    background-color: white;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    font-family: "'Montserrat',sans-serif"
    font-weight: 600;
    color: rgb(203, 208, 216);
}

/* Global Style */

.itemName {
    font-family: "'Montserrat',sans-serif"
    font-weight: 300;
    color: black;
}

.itemType {
    font-family: "'Montserrat',sans-serif"
    color: #fc5e66;
    font-weight: 300;
}

.itemInfo {
    font-family: "'Montserrat',sans-serif"
    font-size: 1.4rem;
}

.title {
    font-family: "'Montserrat',sans-serif"
    font-weight: 700;
    color: black; 
}

.greetingText {
    font-size: 1.3rem;
}

.logo {
    transition: 300ms ease-in-out;
    margin: .5rem;
}

.logo:hover {
    transform: scale(1.5);
}

.link {
    margin: .5rem;
    text-decoration: none;
    font-size: 0.9rem;
    color: rgb(203, 208, 216);
    --bs-nav-link-hover-color: white;
}

.link:hover {
    color: grey;
}

.hamburguer {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28203, 208, 216, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.logoFooter {
    transition: 300ms ease-in-out;
}

.logoFooter:hover {
    transform: scale(1.1);
}

.artifactCard {
    background-color: rgba(225, 236, 230, 0.849);
    padding: 1rem;
    min-height: 200px;
    font-size: 0.6rem;
    color: black; 
}

/* Default Style */

.mainContainer {
    margin-top: 3rem;
    margin-bottom: 3rem;
    padding: 2rem;
    border-radius: 15px;
    background-color: white;
}

.section {
    margin-bottom: 3rem;
}

.navContainer {
    background-color: rgba(27, 141, 235, 0.87);
    height: 95.39px;
}

.footerContainer {
    border-radius: 15px;
    background-color: rgb(20, 31, 49);
    padding: 2rem;
}